@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--background : #555;
	--background-textarea : #444;
	--background-inputbox : #444;
}

* {
	padding : 0;
	margin : 0;
	box-sizing: border-box;
	font-size : 20px;
	color : #00fafa;
}
body {
	height : 100%;
	background : var(--background);
}

.container {
	font-family: Kode Mono, sans-serif;
	padding : 10px;
	width : 100%;
	height : 100%;
	background : var(--background);
	overflow : hidden;
}

.titolo {
	display : flex;
	align-items: center;
	gap : 10px;
	padding : 10px;
}

.titolo>img{
	background : #CCC;
	padding : 5px;
	border-radius : 10px;
}
.titolo>p{
	font-size : 30px;
}

.bx-info-circle{
	border : solid 1px #00fafa;
	font-size : 20px;
	padding : 5px;
	border-radius : 5px;
}

#btn-save {
	display : flex;
	justify-content : center;
	align-items : center;
	background : #333;
	border-radius : 5px;
}
#btn-save>i {
	font-size : 30px;
	padding : 5px;
}

#btn-load {
	display : flex;
	justify-content : center;
	align-items : center;
	background : #333;
	border-radius : 5px;
}
#btn-load>i {
	font-size : 30px;
	padding : 5px;
}



#fileLoadContainer{
	display: flex;
}
input[type="file"] {
	display: flex;
	background-color: #333;
	color: #CCC;
	border: none;
	border-radius : 5px;
	padding: 5px;
	cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
	background-color: #444;
	color: #CCC;
	border: none;
	border-radius : 5px;
	padding: 5px;
	cursor: pointer;
}

input[type="file"]::-moz-file-upload-button {
	background-color: #444;
	color: #fff;
	border: none;
	border-radius : 5px;
	padding: 5px;
	cursor: pointer;
}

input[type="file"]::file-selector-button {
	background-color: #444;
	color: #00fafa;
	border: none;
	padding: 5px;
	cursor: pointer;
}


#fileNameContainer {
	position : absolute;
	background : #555;
	top : 100px;
	left : 50%;
	transform : translate(-50%, -50%);
	padding : 20px;
	border : 1px solid #00fafa;
	border-radius : 10px;
	box-shadow : 0 0 5px #00fafa;
	display : flex;
	gap : 20px;
	z-index : 999;
}
#fileNameInput {
	background : #333;
	color : #CCC;
	padding : 5px;
	border-radius : 5px;
}
#dnl-button {
	font-size : 20px;
	width : 50px;
	display : flex;
	justify-content : center;
	align-items : center;
	padding : 5px;
	background : #333;
	border-radius : 5px;
}


#imageTitle {
	width : 50px;
	padding : 5px;
}

.notes-container {
	height : 100%;
	width : 100%;
	overflow : auto;
}

.input-box {
	position : absolute;
	top : 100px;
	left : 100px;
	max-width : 1000px;
	min-width : 420px;
	border : 1px solid var(--background-inputbox);
	border-radius : 5px;
	padding : 10px;
	outline : none;
	overflow: hidden;
	box-shadow : 0 0 10px #000;
	background : var(--background-inputbox);
	display : flex;
	flex-direction : column;
	justify-content : center;
	gap : 5px;
}

.input-box>textarea {
	height  :100%;
	width : 100%;
	overflow : auto;
	border : none;
	outline : none;
	background : var(--background-textarea);
	border-top : 1px solid #444;
	border-bottom : 1px solid #444;
	border-radius : 5px;
	padding : 5px;
	resize : none;
}

/* Minimizzare la barra di scorrimento */
.input-box > textarea::-webkit-scrollbar {
	width: 8px; /* Larghezza della barra di scorrimento */
}

.input-box > textarea::-webkit-scrollbar-thumb {
	background-color: #555; /* Colore della parte mobile della barra */
	border-radius: 10px; /* Arrotondare gli angoli */
}

.input-box > textarea::-webkit-scrollbar-thumb:hover {
	background-color: #777; /* Colore quando si passa sopra con il mouse */
}

.input-box > textarea::-webkit-scrollbar-track {
	background-color: #444; /* Colore del track */
	border-radius: 10px; /* Arrotondare gli angoli */
}

#cancella {
	border-radius : 5px;
	margin-left : 10px;
	color : #333;
	background : #00fafa;
	width : 40px;

}
#containerBtn {
	display : flex;
	transition : opacity 0.5s;
}


#btnIncreaseFont, #btnDecreaseFont {
	border-radius : 5px;
	display : flex;
	justify-content : center;
	align-items : center;
	font-size : 30px;
	width : 100px;
	height : 30px;
	background : #555;
}

#btnLink {
	border-radius : 5px;
	margin-left : 10px;
	color : #333;
	background : #00fafa;
	width : 40px;
}
#btnLink>i {
	color : #333;
}

#btnUnlink {
	border-radius : 5px;
	margin-left : 10px;
	color : #333;
	background : #00fafa;
	width : 40px;
}
#btnUnlink>i {
	color : #333;
}

#moveNote {
	position : absolute;
	right : 15px;
	bottom : 10px;
	display : flex;
	align-items : center;
}
#moveNote>i {
	font-size : 30px;
}


.footer {
	position : fixed;
	bottom : 0px;
	right : 00px;
	z-index : 1000;
	
}
.footer>#sticky {
	font-size : 10px;
}
#add-note{
	position : absolute;
	bottom : 30px;
	right : 20px;
	width : 150px;
	height : 150px;
	display : flex;
	justify-content: center;
	align-items : center;
	border-radius : 50% 0 0 10% ;
	background : #222;
	box-shadow : 0 0 5px #00fafa;
	cursor : pointer;
	z-index : 9999;
}

#add-note>p {
	font-size : 25px;
}

#reset-btn {
	position : absolute;
	background : #222;
	padding : 20px;
	bottom : 30px;
	right : 200px;
	box-shadow : 0 0 5px #00fafa;
	cursor : pointer;
	border-radius : 20px 50% 10px 20px;
	z-index : 9999;
}

